.details-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.details-title {
  font-size: 32px;
  margin-bottom: 30px;
}

.details-image,
.details-content {
  max-width: 70%;
  margin: 50px;
  text-align: center;
}

.details-youtube {
  margin: 0 auto;
  display: block;
}

.button-back {
  max-width: 200px;
  display: block;
  margin: 25px auto;
}